sumo/docs/internet/xsd/duarouterConfiguration.xsd

<?xml version="1.0" encoding="iso-8859-1"?>

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="configuration" type="configurationType"/>

    <xsd:complexType name="configurationType">
        <xsd:sequence>
            <xsd:element name="input" type="inputType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="output" type="outputType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="processing" type="processingType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="defaults" type="defaultsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="time" type="timeType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="report" type="reportType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_number" type="random_numberType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="inputType">
        <xsd:sequence>
            <xsd:element name="net-file" type="net-fileType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="districts" type="districtsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="alternatives" type="alternativesType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="weights" type="weightsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="lane-weights" type="lane-weightsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="measure" type="measureType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="trip-defs" type="trip-defsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="flow-definition" type="flow-definitionType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sumo-input" type="sumo-inputType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="net-fileType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="districtsType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="alternativesType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="weightsType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="lane-weightsType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="measureType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="trip-defsType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="flow-definitionType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="sumo-inputType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="outputType">
        <xsd:sequence>
            <xsd:element name="output-file" type="output-fileType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="exit-times" type="exit-timesType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="output-fileType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="exit-timesType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="processingType">
        <xsd:sequence>
            <xsd:element name="continue-on-unbuild" type="continue-on-unbuildType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="unsorted" type="unsortedType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="randomize-flows" type="randomize-flowsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="max-alternatives" type="max-alternativesType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="remove-loops" type="remove-loopsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="repair" type="repairType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="interpolate" type="interpolateType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="with-taz" type="with-tazType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="expand-weights" type="expand-weightsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gBeta" type="gBetaType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gA" type="gAType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="continue-on-unbuildType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="unsortedType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="randomize-flowsType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="max-alternativesType">
        <xsd:attribute name="value" type="xsd:int" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="remove-loopsType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="repairType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="interpolateType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="with-tazType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="expand-weightsType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="gBetaType">
        <xsd:attribute name="value" type="xsd:float" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="gAType">
        <xsd:attribute name="value" type="xsd:float" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="defaultsType">
        <xsd:sequence>
            <xsd:element name="departlane" type="departlaneType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="departpos" type="departposType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="departspeed" type="departspeedType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="arrivallane" type="arrivallaneType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="arrivalpos" type="arrivalposType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="arrivalspeed" type="arrivalspeedType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="defaults-override" type="defaults-overrideType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="departlaneType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="departposType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="departspeedType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="arrivallaneType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="arrivalposType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="arrivalspeedType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="defaults-overrideType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="timeType">
        <xsd:sequence>
            <xsd:element name="begin" type="beginType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="end" type="endType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="beginType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="endType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="reportType">
        <xsd:sequence>
            <xsd:element name="verbose" type="verboseType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="print-options" type="print-optionsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="help" type="helpType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="version" type="versionType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="suppress-warnings" type="suppress-warningsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="log-file" type="log-fileType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="stats-period" type="stats-periodType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="verboseType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="print-optionsType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="helpType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="versionType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="suppress-warningsType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="log-fileType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="stats-periodType">
        <xsd:attribute name="value" type="xsd:int" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="random_numberType">
        <xsd:sequence>
            <xsd:element name="srand" type="srandType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="abs-rand" type="abs-randType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="srandType">
        <xsd:attribute name="value" type="xsd:int" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="abs-randType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
    </xsd:complexType>

</xsd:schema>
