sumo/docs/internet/xsd/od2tripsConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="configuration" type="configurationType"/>

    <xsd:complexType name="configurationType">
        <xsd:sequence>
            <xsd:element name="input" type="inputType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="output" type="outputType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="time" type="timeType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="processing" type="processingType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="defaults" type="defaultsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="report" type="reportType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_number" type="random_numberType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="inputType">
        <xsd:sequence>
            <xsd:element name="net-file" type="net-fileType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="od-matrix-files" type="od-matrix-filesType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="net-fileType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="od-matrix-filesType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="outputType">
        <xsd:sequence>
            <xsd:element name="output-file" type="output-fileType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ignore-vehicle-type" type="ignore-vehicle-typeType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="output-fileType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="ignore-vehicle-typeType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="timeType">
        <xsd:sequence>
            <xsd:element name="begin" type="beginType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="end" type="endType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="beginType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="endType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="processingType">
        <xsd:sequence>
            <xsd:element name="scale" type="scaleType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="spread.uniform" type="spread.uniformType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vtype" type="vtypeType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="prefix" type="prefixType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="timeline" type="timelineType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="timeline.day-in-hours" type="timeline.day-in-hoursType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="dismiss-loading-errors" type="dismiss-loading-errorsType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="scaleType">
        <xsd:attribute name="value" type="xsd:float" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="spread.uniformType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="vtypeType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="prefixType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="timelineType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="timeline.day-in-hoursType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="dismiss-loading-errorsType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="defaultsType">
        <xsd:sequence>
            <xsd:element name="departlane" type="departlaneType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="departpos" type="departposType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="departspeed" type="departspeedType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="arrivallane" type="arrivallaneType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="arrivalpos" type="arrivalposType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="arrivalspeed" type="arrivalspeedType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="departlaneType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="departposType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="departspeedType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="arrivallaneType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="arrivalposType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="arrivalspeedType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="reportType">
        <xsd:sequence>
            <xsd:element name="verbose" type="verboseType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="print-options" type="print-optionsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="help" type="helpType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="version" type="versionType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="no-warnings" type="no-warningsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="log" type="logType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="message-log" type="message-logType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="error-log" type="error-logType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="verboseType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="print-optionsType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="helpType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="versionType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="no-warningsType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="logType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="message-logType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="error-logType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="random_numberType">
        <xsd:sequence>
            <xsd:element name="random" type="randomType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="seed" type="seedType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="randomType">
        <xsd:attribute name="value" type="xsd:boolean" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="seedType">
        <xsd:attribute name="value" type="xsd:int" use="required"/>
        <xsd:attribute name="synonymes" type="xsd:string" use="optional"/>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="help" type="xsd:string" use="optional"/>
    </xsd:complexType>

</xsd:schema>
