data/xsd/types/dfrouterConfigurationType.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated on 2025-09-15T13:31:27.110139+01:00 by Eclipse SUMO dfrouter v1_24_0+0791-bfa764d4c7b
-->

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="dfrouterConfigurationType">
        <xsd:all>
            <xsd:element name="input" type="dfrouterinputTopicType" minOccurs="0"/>
            <xsd:element name="output" type="dfrouteroutputTopicType" minOccurs="0"/>
            <xsd:element name="processing" type="dfrouterprocessingTopicType" minOccurs="0"/>
            <xsd:element name="defaults" type="dfrouterdefaultsTopicType" minOccurs="0"/>
            <xsd:element name="time" type="dfroutertimeTopicType" minOccurs="0"/>
            <xsd:element name="report" type="dfrouterreportTopicType" minOccurs="0"/>
            <xsd:element name="random_number" type="dfrouterrandom_numberTopicType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="dfrouterinputTopicType">
        <xsd:all>
            <xsd:element name="net-file" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="detector-files" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="measure-files" type="fileOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="dfrouteroutputTopicType">
        <xsd:all>
            <xsd:element name="write-license" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="write-metadata" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="output-prefix" type="strOptionType" minOccurs="0"/>
            <xsd:element name="precision" type="intOptionType" minOccurs="0"/>
            <xsd:element name="precision.geo" type="intOptionType" minOccurs="0"/>
            <xsd:element name="output.compression" type="strOptionType" minOccurs="0"/>
            <xsd:element name="output.format" type="strOptionType" minOccurs="0"/>
            <xsd:element name="output.column-header" type="strOptionType" minOccurs="0"/>
            <xsd:element name="output.column-separator" type="strOptionType" minOccurs="0"/>
            <xsd:element name="human-readable-time" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="routes-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="routes-for-all" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="detector-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="detectors-poi-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="emitters-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="vtype" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="vtype-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="emitters-poi-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="variable-speed-sign-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="end-reroute-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="validation-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="validation-output.add-sources" type="boolOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="dfrouterprocessingTopicType">
        <xsd:all>
            <xsd:element name="guess-empty-flows" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="highway-mode" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="ignore-invalid-detectors" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="revalidate-detectors" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="revalidate-routes" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="keep-unfinished-routes" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="keep-longer-routes" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="max-search-depth" type="intOptionType" minOccurs="0"/>
            <xsd:element name="emissions-only" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="disallowed-edges" type="strArrayOptionType" minOccurs="0"/>
            <xsd:element name="vclass" type="strOptionType" minOccurs="0"/>
            <xsd:element name="keep-turnarounds" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="min-route-length" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="randomize-flows" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="time-factor" type="timeOptionType" minOccurs="0"/>
            <xsd:element name="time-offset" type="timeOptionType" minOccurs="0"/>
            <xsd:element name="time-step" type="timeOptionType" minOccurs="0"/>
            <xsd:element name="calibrator-output" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="include-unused-routes" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="revalidate-flows" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="remove-empty-detectors" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="strict-sources" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="respect-concurrent-inflows" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="scale" type="floatOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="dfrouterdefaultsTopicType">
        <xsd:all>
            <xsd:element name="departlane" type="strOptionType" minOccurs="0"/>
            <xsd:element name="departpos" type="strOptionType" minOccurs="0"/>
            <xsd:element name="departspeed" type="strOptionType" minOccurs="0"/>
            <xsd:element name="arrivallane" type="strOptionType" minOccurs="0"/>
            <xsd:element name="arrivalpos" type="strOptionType" minOccurs="0"/>
            <xsd:element name="arrivalspeed" type="strOptionType" minOccurs="0"/>
            <xsd:element name="speeddev" type="floatOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="dfroutertimeTopicType">
        <xsd:all>
            <xsd:element name="begin" type="timeOptionType" minOccurs="0"/>
            <xsd:element name="end" type="timeOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="dfrouterreportTopicType">
        <xsd:all>
            <xsd:element name="verbose" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="print-options" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="help" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="version" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="xml-validation" type="strOptionType" minOccurs="0"/>
            <xsd:element name="xml-validation.net" type="strOptionType" minOccurs="0"/>
            <xsd:element name="no-warnings" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="aggregate-warnings" type="intOptionType" minOccurs="0"/>
            <xsd:element name="log" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="message-log" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="error-log" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="log.timestamps" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="log.processid" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="language" type="strOptionType" minOccurs="0"/>
            <xsd:element name="report-empty-detectors" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="print-absolute-flows" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="no-step-log" type="boolOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="dfrouterrandom_numberTopicType">
        <xsd:all>
            <xsd:element name="random" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="seed" type="intOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

</xsd:schema>
