data/xsd/types/duarouterConfigurationType.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated on 2025-10-18T19:37:54.575863+01:00 by Eclipse SUMO duarouter v1_24_0+1504-c09129808c1
-->

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="duarouterConfigurationType">
        <xsd:all>
            <xsd:element name="input" type="duarouterinputTopicType" minOccurs="0"/>
            <xsd:element name="output" type="duarouteroutputTopicType" minOccurs="0"/>
            <xsd:element name="processing" type="duarouterprocessingTopicType" minOccurs="0"/>
            <xsd:element name="defaults" type="duarouterdefaultsTopicType" minOccurs="0"/>
            <xsd:element name="time" type="duaroutertimeTopicType" minOccurs="0"/>
            <xsd:element name="report" type="duarouterreportTopicType" minOccurs="0"/>
            <xsd:element name="random_number" type="duarouterrandom_numberTopicType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="duarouterinputTopicType">
        <xsd:all>
            <xsd:element name="net-file" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="additional-files" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="route-files" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="phemlight-path" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="phemlight-year" type="intOptionType" minOccurs="0"/>
            <xsd:element name="phemlight-temperature" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="weight-files" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="lane-weight-files" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="weight-attribute" type="strOptionType" minOccurs="0"/>
            <xsd:element name="junction-taz" type="boolOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="duarouteroutputTopicType">
        <xsd:all>
            <xsd:element name="output-file" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="vtype-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="keep-vtype-distributions" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="emissions.volumetric-fuel" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="named-routes" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="write-license" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="write-metadata" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="output-prefix" type="strOptionType" minOccurs="0"/>
            <xsd:element name="precision" type="intOptionType" minOccurs="0"/>
            <xsd:element name="precision.geo" type="intOptionType" minOccurs="0"/>
            <xsd:element name="output.compression" type="strOptionType" minOccurs="0"/>
            <xsd:element name="output.format" type="strOptionType" minOccurs="0"/>
            <xsd:element name="output.column-header" type="strOptionType" minOccurs="0"/>
            <xsd:element name="output.column-separator" type="strOptionType" minOccurs="0"/>
            <xsd:element name="human-readable-time" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="alternatives-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="intermodal-network-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="intermodal-weight-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="write-trips" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="write-trips.geo" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="write-trips.junctions" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="write-costs" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="exit-times" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="route-length" type="boolOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="duarouterprocessingTopicType">
        <xsd:all>
            <xsd:element name="max-alternatives" type="intOptionType" minOccurs="0"/>
            <xsd:element name="with-taz" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="unsorted-input" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="route-steps" type="timeOptionType" minOccurs="0"/>
            <xsd:element name="no-internal-links" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="randomize-flows" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="remove-loops" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="repair" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="repair.from" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="repair.to" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="repair.max-detour-factor" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="mapmatch.distance" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="mapmatch.junctions" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="mapmatch.taz" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="bulk-routing" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="routing-threads" type="intOptionType" minOccurs="0"/>
            <xsd:element name="routing-algorithm" type="strOptionType" minOccurs="0"/>
            <xsd:element name="restriction-params" type="strArrayOptionType" minOccurs="0"/>
            <xsd:element name="weights.interpolate" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="weights.expand" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="weights.minor-penalty" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="weights.tls-penalty" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="weights.turnaround-penalty" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="weights.random-factor" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="weight-period" type="timeOptionType" minOccurs="0"/>
            <xsd:element name="weights.priority-factor" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="astar.all-distances" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="astar.landmark-distances" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="astar.save-landmark-distances" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="scale" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="scale-suffix" type="strOptionType" minOccurs="0"/>
            <xsd:element name="gawron.beta" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="gawron.a" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="keep-all-routes" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="skip-new-routes" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="keep-route-probability" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="ptline-routing" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="keep-flows" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="route-choice-method" type="strOptionType" minOccurs="0"/>
            <xsd:element name="logit" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="logit.beta" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="logit.gamma" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="logit.theta" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="persontrip.walkfactor" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="persontrip.walk-opposite-factor" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="persontrip.transfer.car-walk" type="strArrayOptionType" minOccurs="0"/>
            <xsd:element name="persontrip.transfer.taxi-walk" type="strArrayOptionType" minOccurs="0"/>
            <xsd:element name="persontrip.transfer.walk-taxi" type="strArrayOptionType" minOccurs="0"/>
            <xsd:element name="persontrip.taxi.waiting-time" type="timeOptionType" minOccurs="0"/>
            <xsd:element name="persontrip.ride-public-line" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="railway.max-train-length" type="floatOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="duarouterdefaultsTopicType">
        <xsd:all>
            <xsd:element name="departlane" type="strOptionType" minOccurs="0"/>
            <xsd:element name="departpos" type="strOptionType" minOccurs="0"/>
            <xsd:element name="departspeed" type="strOptionType" minOccurs="0"/>
            <xsd:element name="arrivallane" type="strOptionType" minOccurs="0"/>
            <xsd:element name="arrivalpos" type="strOptionType" minOccurs="0"/>
            <xsd:element name="arrivalspeed" type="strOptionType" minOccurs="0"/>
            <xsd:element name="defaults-override" type="boolOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="duaroutertimeTopicType">
        <xsd:all>
            <xsd:element name="begin" type="timeOptionType" minOccurs="0"/>
            <xsd:element name="end" type="timeOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="duarouterreportTopicType">
        <xsd:all>
            <xsd:element name="verbose" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="print-options" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="help" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="version" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="xml-validation" type="strOptionType" minOccurs="0"/>
            <xsd:element name="xml-validation.net" type="strOptionType" minOccurs="0"/>
            <xsd:element name="xml-validation.routes" type="strOptionType" minOccurs="0"/>
            <xsd:element name="no-warnings" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="aggregate-warnings" type="intOptionType" minOccurs="0"/>
            <xsd:element name="log" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="message-log" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="error-log" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="log.timestamps" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="log.processid" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="language" type="strOptionType" minOccurs="0"/>
            <xsd:element name="ignore-errors" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="stats-period" type="intOptionType" minOccurs="0"/>
            <xsd:element name="no-step-log" type="boolOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="duarouterrandom_numberTopicType">
        <xsd:all>
            <xsd:element name="random" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="seed" type="intOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

</xsd:schema>
