data/xsd/types/jtrrouterConfigurationType.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated on 2025-09-15T13:31:27.894185+01:00 by Eclipse SUMO jtrrouter v1_24_0+0791-bfa764d4c7b
-->

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="jtrrouterConfigurationType">
        <xsd:all>
            <xsd:element name="input" type="jtrrouterinputTopicType" minOccurs="0"/>
            <xsd:element name="output" type="jtrrouteroutputTopicType" minOccurs="0"/>
            <xsd:element name="processing" type="jtrrouterprocessingTopicType" minOccurs="0"/>
            <xsd:element name="defaults" type="jtrrouterdefaultsTopicType" minOccurs="0"/>
            <xsd:element name="time" type="jtrroutertimeTopicType" minOccurs="0"/>
            <xsd:element name="report" type="jtrrouterreportTopicType" minOccurs="0"/>
            <xsd:element name="random_number" type="jtrrouterrandom_numberTopicType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="jtrrouterinputTopicType">
        <xsd:all>
            <xsd:element name="net-file" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="additional-files" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="route-files" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="phemlight-path" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="phemlight-year" type="intOptionType" minOccurs="0"/>
            <xsd:element name="phemlight-temperature" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="junction-taz" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="turn-ratio-files" type="fileOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="jtrrouteroutputTopicType">
        <xsd:all>
            <xsd:element name="output-file" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="vtype-output" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="keep-vtype-distributions" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="emissions.volumetric-fuel" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="named-routes" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="write-license" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="write-metadata" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="output-prefix" type="strOptionType" minOccurs="0"/>
            <xsd:element name="precision" type="intOptionType" minOccurs="0"/>
            <xsd:element name="precision.geo" type="intOptionType" minOccurs="0"/>
            <xsd:element name="output.compression" type="strOptionType" minOccurs="0"/>
            <xsd:element name="output.format" type="strOptionType" minOccurs="0"/>
            <xsd:element name="output.column-header" type="strOptionType" minOccurs="0"/>
            <xsd:element name="output.column-separator" type="strOptionType" minOccurs="0"/>
            <xsd:element name="human-readable-time" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="exit-times" type="boolOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="jtrrouterprocessingTopicType">
        <xsd:all>
            <xsd:element name="max-alternatives" type="intOptionType" minOccurs="0"/>
            <xsd:element name="with-taz" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="unsorted-input" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="route-steps" type="timeOptionType" minOccurs="0"/>
            <xsd:element name="no-internal-links" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="randomize-flows" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="remove-loops" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="repair" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="repair.from" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="repair.to" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="repair.max-detour-factor" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="mapmatch.distance" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="mapmatch.junctions" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="mapmatch.taz" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="bulk-routing" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="routing-threads" type="intOptionType" minOccurs="0"/>
            <xsd:element name="restriction-params" type="strArrayOptionType" minOccurs="0"/>
            <xsd:element name="weights.minor-penalty" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="weights.tls-penalty" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="weights.turnaround-penalty" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="max-edges-factor" type="floatOptionType" minOccurs="0"/>
            <xsd:element name="turn-defaults" type="strArrayOptionType" minOccurs="0"/>
            <xsd:element name="sink-edges" type="strArrayOptionType" minOccurs="0"/>
            <xsd:element name="accept-all-destinations" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="ignore-vclasses" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="allow-loops" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="sources-are-sinks" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="discount-sources" type="boolOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="jtrrouterdefaultsTopicType">
        <xsd:all>
            <xsd:element name="departlane" type="strOptionType" minOccurs="0"/>
            <xsd:element name="departpos" type="strOptionType" minOccurs="0"/>
            <xsd:element name="departspeed" type="strOptionType" minOccurs="0"/>
            <xsd:element name="arrivallane" type="strOptionType" minOccurs="0"/>
            <xsd:element name="arrivalpos" type="strOptionType" minOccurs="0"/>
            <xsd:element name="arrivalspeed" type="strOptionType" minOccurs="0"/>
            <xsd:element name="defaults-override" type="boolOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="jtrroutertimeTopicType">
        <xsd:all>
            <xsd:element name="begin" type="timeOptionType" minOccurs="0"/>
            <xsd:element name="end" type="timeOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="jtrrouterreportTopicType">
        <xsd:all>
            <xsd:element name="verbose" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="print-options" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="help" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="version" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="xml-validation" type="strOptionType" minOccurs="0"/>
            <xsd:element name="xml-validation.net" type="strOptionType" minOccurs="0"/>
            <xsd:element name="xml-validation.routes" type="strOptionType" minOccurs="0"/>
            <xsd:element name="no-warnings" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="aggregate-warnings" type="intOptionType" minOccurs="0"/>
            <xsd:element name="log" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="message-log" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="error-log" type="fileOptionType" minOccurs="0"/>
            <xsd:element name="log.timestamps" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="log.processid" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="language" type="strOptionType" minOccurs="0"/>
            <xsd:element name="ignore-errors" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="stats-period" type="intOptionType" minOccurs="0"/>
            <xsd:element name="no-step-log" type="boolOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="jtrrouterrandom_numberTopicType">
        <xsd:all>
            <xsd:element name="random" type="boolOptionType" minOccurs="0"/>
            <xsd:element name="seed" type="intOptionType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

</xsd:schema>
